
.portfolio-card {
  cursor: pointer;
}

.card-overlay {
  background-color: rgba(26, 188, 156,0.7) !important;
  opacity: 0;

}


.portfolio-card:hover .card-overlay {
  opacity: 1;
}

.port-modal
 {
  background-color: rgba(194, 219, 254,0.4);
 }
