<section id="about" class="d-flex flex-column align-items-center justify-content-center">

  <div class="header mt-5">
    <h2 class="text-white fw-bold text-uppercase">about component</h2>
    <div class="star-icon my-4">
      <i class="fa-solid fa-star fa-xl text-white"></i>
    </div>
  </div>
  <div class="container px-5">
    <div class="row  gy-4 text-white">
      <div class="col-md-6">
        <div class="left-content">
          Freelancer is a free bootstrap theme created by Route. The download includes the complete source files
          including HTML,
          CSS, and JavaScript as well as optional SASS stylesheets for easy customization.

        </div>
      </div>
      <div class="col-md-6">
        <div class="right-content">
          <p>
            Freelancer is a free bootstrap theme created by Route. The download includes the complete source files
            including HTML,
            CSS, and JavaScript as well as optional SASS stylesheets for easy customization.

          </p>
        </div>


      </div>
    </div>
  </div>





</section>
