<footer id="footer">
  <div class="container py-5">
    <div class="row gy-4 text-center text-white ">
      <div class="col-lg-4">
        <div class="location">
          <h3>LOCATION</h3>
          <p>2215 John Daniel Drive</p>
          <p>Clark, MO 65243</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="icons">

          <h3 class="text-uppercase mb-3">around the web</h3>


          <div class="d-flex column-gap-3 justify-content-center align-items-center">
            <a href="#">
              <i class="fa-brands fa-facebook fa-lg "></i>
            </a>
            <a href="#">
              <i class="fa-brands fa-twitter fa-lg "></i>
            </a>
            <a href="#">
              <i class="fa-brands fa-linkedin fa-lg "></i>

            </a>
            <a href="#">
              <i class="fa-solid fa-globe fa-lg "></i>

            </a>
          </div>

        </div>
      </div>
      <div class="col-lg-4">
        <div class="freelance">
          <h3 class="text-uppercase">about freelancer</h3>
          <p>
            Freelance is a free to use, licensed Bootstrap theme created by Route
          </p>
        </div>
      </div>
    </div>


  </div>
  <div class="rights d-flex justify-content-center align-items-center text-center text-white py-4">
    <p class="mb-0">Copyright © Your Website 2021</p>
  </div>
</footer>
