<nav  class="navbar navbar-expand-lg nav-bg fixed-top z-3">
  <div id="navCon" class="container p-3 fw-bold align-items-center">
    <a class="navbar-brand text-white text-uppercase" routerLink="/">Start Framework</a>
    <button class="navbar-toggler d-flex d-lg-none flex-column row-gap-2 justify-content-center shadow-none border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-custom"></span>
      <!-- <i class="fa-solid fa-sliders text-white fa-lg"></i> -->
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link  text-white text-uppercase fw-bold" aria-current="page"  routerLinkActive="active p-2"  routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white text-uppercase fw-bold"  routerLinkActive="active p-2"  routerLink="/portfolio">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white text-uppercase fw-bold"  routerLinkActive="active p-2"  routerLink="/contact">contact</a>
        </li>


      </ul>

    </div>
  </div>
</nav>
